.popup__closed {
    position: fixed;
    background: url("../../../images/close_icon.svg");
    width: 33px;
    height: 33px;
    top: -38px;
    right: -38px;
    color: #FFF;
    background-size: cover;
    background-color: black;
    border: none;
    align-self: center;
    justify-content: center;
    /* background: none; */
    cursor: pointer;
    /* text-decoration: none; */
}

.popup__closed:hover {
    opacity: 0.6;
}


@media (max-width: 425px) {
    .popup__closed {
        width: 20px;
        height: 20px;
        top: -38px;
        right: 0;
    }
  }

