.profile__avatar {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    max-width: 120px;
    height: 120px;
    place-self: center center;
    border-radius: 50%;
    /* object-fit: cover;
    overflow:clip; */
}

@media (max-width: 425px) {
    .profile__avatar {
        grid-row: 1;
    }
  }